@model GSTUWebSchedule_MVC.Models.ManageTableModel
@{
    ViewData["Title"] = "Manage";
    Layout = null;
    //Domine dimitte mihi for this code... But it works, and pretty logic & compactly!
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.ico" rel="icon" type="image/ico">
    <title>@ViewData["Title"]</title>

    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <script>
        var kol = [1, 0, 1];
        var arr = [];

        $(document).ready(function () {
            $(document).on("click", "i[id*='searchclear_']", function (e) {
                e.preventDefault();
                var a = $(this).attr('id');
                $("#student_" + a.split('_')[1]).val('');
                //InputOnBlur(-1);
                e.stopPropagation();
            });
            $(document).on("focus", "input[id*='student_']", function (e) {
                var a = $(this).attr('id');
                document.getElementById("searchclear_" + a.split('_')[1]).style.color = "#ccc";
                e.stopPropagation();
            });

            $(document).on("click", "i[id*='searchclear2_']", function (e) {
                e.preventDefault();
                var a = $(this).attr('id');
                if (!document.getElementById("student2_" + a.split('_')[1]).disabled) {
                    $("#student2_" + a.split('_')[1]).val('');
                    //InputOnBlur(-1, 2);
                }
                e.stopPropagation();
            });
            $(document).on("click", "i[id*='deletestudent2_']", function (e) {
                e.preventDefault();
                var a = $(this).attr('id');
                if (document.getElementById("student2_" + a.split('_')[1]).disabled) {
                    document.getElementById("div_student2_" + a.split('_')[1]).style.textDecoration = document.getElementById("student2_" + a.split('_')[1]).style.textDecoration = "none";
                    document.getElementById("deletestudent2_" + a.split('_')[1]).style.color = "#cc0000";
                    document.getElementById("student2_" + a.split('_')[1]).disabled = false;
                    document.getElementById("deletestudent2_" + a.split('_')[1]).className = "deleteuser fa fa-minus-square";
                    document.getElementById("searchclear2_" + a.split('_')[1]).style.color = "#1e947b";
                } else {
                    document.getElementById("div_student2_" + a.split('_')[1]).style.textDecoration = document.getElementById("student2_" + a.split('_')[1]).style.textDecoration = "line-through";
                    document.getElementById("deletestudent2_" + a.split('_')[1]).style.color = "#1e947b";
                    document.getElementById("student2_" + a.split('_')[1]).disabled = true;
                    document.getElementById("deletestudent2_" + a.split('_')[1]).className = "deleteuser fa fa-plus-square";
                    document.getElementById("searchclear2_" + a.split('_')[1]).style.color = "#ccc";
                }
                e.stopPropagation();
            });
            $(document).on("focus", "input[id*='student2_']", function (e) {
                var a = $(this).attr('id');
                document.getElementById("searchclear2_" + a.split('_')[1]).style.color = "#ccc";
                if (document.getElementById("deletestudent2_" + a.split('_')[1]) != null) document.getElementById("deletestudent2_" + a.split('_')[1]).style.color = "#ccc";
                e.stopPropagation();
            });
        });

        @if (Model.DbTable.Count() != 0)
        {
            <text>
            var sel1, sel2, options2;
            function ChooseSelection(selValue) {
                sel2.innerHTML = '';
                for (var i = 0; i @Html.Raw("<") options2.length; i++) {
                    if (options2[i].dataset.option === selValue) {
                        sel2.appendChild(options2[i]);
                    }
                }
            }
            function MyInit() {
                sel1 = document.querySelector('#importSubject');
                sel2 = document.querySelector('#importGroup');
                options2 = sel2.querySelectorAll('option');
                ChooseSelection(sel1.value);
            }

            var _sel1, _sel2, _options2;
            function ChooseSelection2(selValue) {
                _sel2.innerHTML = '';
                for (var i = 0; i @Html.Raw("<") _options2.length; i++) {
                    if (_options2[i].dataset.option === selValue) {
                        _sel2.appendChild(_options2[i]);
                    }
                }
            }
            function MyInit2() {
                _sel1 = document.querySelector('#importSubject2');
                _sel2 = document.querySelector('#importGroup2');
                _options2 = _sel2.querySelectorAll('option');
                ChooseSelection2(_sel1.value);
            }

            window.addEventListener('load', function () {
                MyInit();
                MyInit2();
            });

            const map = new Map([
            @for (int i = 0; i < Subjects.size; i++)
                foreach (var a in Model.DbTable.Where(m => m.Subject == i))
                {
                    <text>
                        ["@(i.ToString() + " " + Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(Html.Raw(a.Group).ToString())))", "@Html.Raw(a.Students)"],
                    </text>
                }
            ]);
            function b64decode(str) {
                return decodeURIComponent(atob(str).split('').map(function (c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                }).join(''))
            }
            function ImportButton(variantnumber = 0) {
                var variant = 2;
                if (variantnumber == 0) variant = "";

                var key = document.getElementById('importSubject' + variant).value + " " + window.btoa(unescape(encodeURIComponent(document.getElementById('importGroup' + variant).value)));
                var importedStudents = map.get(key);
                if (importedStudents != null) {
                    var splited = importedStudents.split(' ');
                    for (let i = 0; i @Html.Raw("<") splited.length; i++) {
                        splited[i] = b64decode(splited[i]);
                    }
                    for (let i = 1; i @Html.Raw("<")= kol[variantnumber]; i++) {
                        document.getElementById("div_student" + variant + "_" + i).remove();
                    }
                    var objTo = document.getElementById('fullname' + variant);
                    for (let i = 0; i @Html.Raw("<") splited.length; i++) {
                        var divtest = document.createElement("div");
                        divtest.id = "div_student" + variant + "_" + (i + 1);
                        divtest.className = "form-group input-group";
                        divtest.innerHTML = '<div class="input-group-addon">#' + (i + 1) + '</div><input id="student' + variant + '_' + (i + 1) + '" type="text" onblur="InputOnBlur(this.id, ' + variantnumber + ')" class="form-control" placeholder="Student\'s full name #' + (i + 1) + '" value="' + splited[i] + '" ' + ((variantnumber == 2) ? 'required=""' : "") + '><div class="input-group-addon"><i id="searchclear' + variant + '_' + (i + 1) + '" class="clearsearch fas fa-times"></i></div>' + ((variantnumber == 2) ? '<div class="input-group-addon"><i title="Delete this student from table" id="deletestudent2_' + (i + 1) + '" class="deleteuser fa fa-minus-square"></i></div>' : "");
                        objTo.appendChild(divtest);
                    }
                    kol[variantnumber] = splited.length;
                    document.getElementById("CountOfStudents" + variant).innerHTML = '<span id="CountOfStudents' + variant + '">You have entered ' + kol[variantnumber] + ' student' + ((kol[variantnumber] == 1) ? "" : "s") + ':</span>';
                }
            }
            </text>
        }

        function InputOnBlur(inputID, variantnumber = 0) {
            var variant = 2;
            if (variantnumber == 0) variant = "";

            if (inputID != -1) {
                document.getElementById("searchclear" + variant + "_" + inputID.split('_')[1]).style.color = "#1e947b";
                if (variantnumber == 2 && document.getElementById("deletestudent2_" + inputID.split('_')[1]) != null) {
                    if (document.getElementById("student2_" + inputID.split('_')[1]).disabled) {
                        document.getElementById("deletestudent2_" + inputID.split('_')[1]).style.color = "#1e947b";
                    } else {
                        document.getElementById("deletestudent2_" + inputID.split('_')[1]).style.color = "#cc0000";
                    }
                }
            }

            arr = [];
            var regexp = /[а-яё]/i;
            var myflag = 0;
            for (let i = 1; i <= kol[variantnumber]; i++) {
                var a = document.getElementById("student" + variant + "_" + i);
                arr.push([a.value, (variantnumber == 2) ? ((document.getElementById("deletestudent2_" + i) == null) ? 0 : 1) : -1, (variantnumber == 2) ? ((document.getElementById("deletestudent2_" + i) == null) ? 0 : (document.getElementById("student2_" + i).disabled ? 1 : 0)) : -1]);
                if (regexp.test(a.value)) {
                    myflag = 1;
                }
                document.getElementById("div_student" + variant + "_" + i).remove();
            }

            if (myflag == 1) {
                let collator = new Intl.Collator("ru", { caseFirst: "upper" });
                arr.sort(function compare(kr1, kr2) {
                    return collator.compare(kr1[0], kr2[0]);
                });
                //arr.sort(collator.compare);
            } else arr.sort(function compare(kr1, kr2) { return kr1[0] - kr2[0] }); //arr.sort();

            var objTo = document.getElementById('fullname' + variant);
            for (let i = 0; i < arr.length; i++) {
                var divtest = document.createElement("div");
                divtest.id = "div_student" + variant + "_" + (i + 1);
                divtest.className = "form-group input-group";
                divtest.innerHTML = '<div class="input-group-addon">#' + (i + 1) + '</div><input id="student' + variant + '_' + (i + 1) + '" type="text" onblur="InputOnBlur(this.id, ' + variantnumber + ')" class="form-control" placeholder="Student\'s full name #' + (i + 1) + '" value="' + arr[i][0] + '" ' + ((variantnumber == 2) ? 'required=""' : "") + '><div class="input-group-addon"><i id="searchclear' + variant + '_' + (i + 1) + '" class="clearsearch fas fa-times"></i></div>' + ((variantnumber == 2 && arr[i][1] == 1) ? '<div class="input-group-addon"><i title="Delete this student from table" id="deletestudent2_' + (i + 1) + '" class="deleteuser fa fa-minus-square"></i></div>' : "");
                objTo.appendChild(divtest);
                if (arr[i][2] == 1) document.getElementById('deletestudent2_' + (i + 1)).click();
            }
        }

        function DeleteEmptyInputFields(variantnumber = 0) {
            var variant = 2;
            if (variantnumber == 0) variant = "";

            arr = [];
            for (let i = 1; i <= kol[variantnumber]; i++) {
                var a = document.getElementById("student" + variant + "_" + i);
                if (a.value.length > 0 || (document.getElementById("deletestudent" + variant + "_" + i) != null)) {
                    arr.push([a.value, (variantnumber == 2) ? ((document.getElementById("deletestudent" + variant + "_" + i) == null) ? 0 : 1) : -1, (variantnumber == 2) ? ((document.getElementById("deletestudent" + variant + "_" + i) == null) ? -2 : (document.getElementById("student2_" + i).disabled ? 1 : 0)) : -1]);
                }
                document.getElementById("div_student" + variant + "_" + i).remove();
            }

            if (arr.length == 0) arr.push(["", 0, 0]);

            var objTo = document.getElementById('fullname' + variant);
            for (let i = 0; i < arr.length; i++) {
                var divtest = document.createElement("div");
                divtest.id = "div_student" + variant + "_" + (i+1);
                divtest.className = "form-group input-group";
                divtest.innerHTML = '<div class="input-group-addon">#' + (i + 1) + '</div><input id="student' + variant + '_' + (i + 1) + '" type="text" onblur="InputOnBlur(this.id, ' + variantnumber + ')" class="form-control" placeholder="Student\'s full name #' + (i + 1) + '" value="' + arr[i][0] + '" ' + ((variantnumber == 2) ? 'required=""' : "") + '><div class="input-group-addon"><i id="searchclear' + variant + '_' + (i + 1) + '" class="clearsearch fas fa-times"></i></div>' + ((variantnumber == 2 && arr[i][1] == 1) ? '<div class="input-group-addon"><i title="Delete this student from table" id="deletestudent2_' + (i + 1) + '" class="deleteuser fa fa-minus-square"></i></div>' : "");
                objTo.appendChild(divtest);
                if (arr[i][2] == 1) document.getElementById('deletestudent2_' + (i + 1)).click();
            }
            kol[variantnumber] = arr.length;
            document.getElementById("CountOfStudents" + variant).innerHTML = '<span id="CountOfStudents' + variant + '">You have entered ' + arr.length + ' student' + ((kol[variantnumber] == 1) ? "" : "s") + ':</span>';
        }

        function OnSubmitFunction(variantnumber = 0) {
            var variant = 2;
            if (variantnumber == 0) variant = "";

            DeleteEmptyInputFields(variantnumber);
            InputOnBlur(-1, variantnumber);

            if (variantnumber == 2) {
                var key = document.getElementById('importSubject' + variant).value + " " + window.btoa(unescape(encodeURIComponent(document.getElementById('importGroup' + variant).value)));
                var importedStudents = map.get(key);
                if (importedStudents != null) {
                    var splited = importedStudents.split(' ');
                    if (kol[variantnumber] < splited.length) return false;
                }
            }

            var request = "";
            for (let i = 1; i <= kol[variantnumber]; i++) {
                var a = document.getElementById("student" + variant + "_" + i);
                if (variantnumber == 2) {
                    if (a.disabled) request += "0_-1 "; else
                        if (document.getElementById("deletestudent2_" + i) == null) request += "1_" + window.btoa(unescape(encodeURIComponent(a.value))) + " "; else request += "0_" + window.btoa(unescape(encodeURIComponent(a.value))) + " ";
                } else
                    if (a.value.length > 0) request += window.btoa(unescape(encodeURIComponent(a.value))) + " ";
            }
            if (request.length == 0) return false;
            document.getElementById("students" + variant).value = request;

            return true;
        }

        function AddInputField(variantnumber = 0) {
            var variant = 2;
            if (variantnumber == 0) variant = "";

            InputOnBlur(-1, variantnumber);

            kol[variantnumber]++;
            var objTo = document.getElementById('fullname' + variant);
            var divtest = document.createElement("div");
            divtest.id = "div_student" + variant + "_" + kol[variantnumber];
            divtest.className = "form-group input-group";
            divtest.innerHTML = '<div class="input-group-addon">#' + kol[variantnumber] + '</div><input id="student' + variant + '_' + kol[variantnumber] + '" type="text" onblur="InputOnBlur(this.id, ' + variantnumber + ')" class="form-control" placeholder="Student\'s full name #' + kol[variantnumber] + '" ' + ((variantnumber == 2) ? 'required=""' : "") + '><div class="input-group-addon"><i id="searchclear' + variant + '_' + kol[variantnumber] + '" class="clearsearch fas fa-times"></i></div>';

            document.getElementById("CountOfStudents" + variant).innerHTML = '<span id="CountOfStudents' + variant + '">You have entered ' + kol[variantnumber] + ' student' + ((kol[variantnumber] == 1) ? "" : "s") + ':</span>';

            objTo.appendChild(divtest);

            InputOnBlur(-1, variantnumber);
        }
    </script>

    <style>
        #CountOfStudents {
            margin: 10px 0 10px 0;
        }
        input {
            margin: 0 !important;
        }
        .myborderradius {
            border-radius: 3px !important;
        }
        .clearsearch {
            margin: auto;
            font-size: 14px;
            cursor: pointer;
            color: #1e947b;
        }
        .deleteuser {
            margin: auto;
            font-size: 14px;
            cursor: pointer;
            color: #cc0000;
        }
    </style>

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font Awesome 2 -->
    <link rel="stylesheet" href="~/css/faall.css">
    <!-- NProgress -->
    <link href="~/css/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet">
</head>
<body class="nav-sm">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a class="site_title" href="/Home/Index"><i class="fa fa-paw"></i> <span>Admin Panel</span></a>
                    </div>
                    <div class="clearfix"></div><br>
                    <!-- sidebar menu -->
                    <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">

                                <li>
                                    <a href="/Home/Index"><i class="fa fa-table"></i>Logs</a>
                                </li>
                                <li class="current-page">
                                    <a href="/Home/Manage"><i class="fa fa-server"></i>Tables control</a>
                                </li>
                                <li>
                                    <a href="/Account/Settings/"><i class="fa fa-cog"></i>Settings</a>
                                </li>
                                <li>
                                    <a href="/Account/Logout"><i class="fa fa-step-backward"></i>Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /sidebar menu -->
                </div>
            </div><!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="">
                            <div class="row x_title">
                                <div class="col-md-12 displ_flex flex_center">
                                    <h3>
                                        Manage Page.
                                        <font color="3399FF">Current time: </font>
                                        <font color="808080">@DateTime.Now</font>.
                                    </h3> <hr>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Add table</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <section class="login_content" style="margin: -40px 0 0 0;">
                                    <form class="form-horizontal form-label-left input_mask" onsubmit="return OnSubmitFunction();" asp-action="Manage" asp-controller="Home" asp-anti-forgery="true">
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            @if (Model != null)
                                            {
                                                if (Model.Error == "error")
                                                {
                                                    <div class="alert alert-danger" style="color: #721c24; border-color: #f5c6cb; background-color: #f8d7da; text-align: center;">Something went wrong! Maybe your group is already exist?</div>
                                                }
                                                else
                                                if (Model.Error == "ok")
                                                {
                                                    <div class="alert alert-dark" style="color: #1b1e21; background-color: #d6d8d9; border-color: #c6c8ca; text-align: center;" role="alert">Your data had been added!</div>
                                                }
                                            }
                                            <div class="row">
                                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                    <select asp-for="Subject" class="form-control myborderradius">
                                                        @for (int i = 0; i < Subjects.size; i++)
                                                        {
                                                            <option value="@i">@Subjects.constArray[i]</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-3 col-sm-3 col-xs-3">
                                                    <input asp-for="Group" type="text" class="form-control" placeholder="Group" maxlength="15" required="" />
                                                </div>
                                                <div class="form-group col-md-5 col-sm-5 col-xs-5">
                                                    <input asp-for="Year" type="text" pattern="\d{4}\/\d{4}" class="form-control" placeholder="Year (format: 20XX/20YY)" maxlength="15" required="" />
                                                </div>
                                                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                                    <select asp-for="Semester" class="form-control myborderradius">
                                                        <option value="1">1 semester</option>
                                                        <option value="2">2 semester</option>
                                                        <option value="3">1-2 semester</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                    <input asp-for="NumberOfLabs" type="number" min="1" max="540" class="form-control myborderradius" placeholder="Number of labs" required="" />
                                                </div>
                                            </div>

                                            @if (Model.DbTable.Count() != 0)
                                            {
                                                <div class="row">
                                                    <span style="font-weight: bold; text-align: center;">Import students from other group</span>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                                            <select id="importSubject" onchange="ChooseSelection(this.value)" class="form-control myborderradius">
                                                                @for (int i = 0; i < Subjects.size; i++) if (Model.DbTable.Count(m => m.Subject == i) != 0)
                                                                    {
                                                                        <option value="@i">@Subjects.constArray[i]</option>
                                                                    }
                                                            </select>
                                                        </div>
                                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                                            <select id="importGroup" class="form-control myborderradius">
                                                                @for (int i = 0; i < Subjects.size; i++)
                                                                    foreach (var a in Model.DbTable.Where(m => m.Subject == i))
                                                                    {
                                                                        <option data-option="@i">@a.Group</option>
                                                                    }
                                                            </select>
                                                        </div>
                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                            <button class="btn btn-warning" type="button" onclick="ImportButton()">Import</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12"><span id="CountOfStudents" style="font-weight: bold; text-align: center;">You have entered 1 student:</span></div>
                                            </div>

                                            <div class="row">
                                                <div id="fullname" class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="div_student_1" class="form-group input-group"><div class="input-group-addon">#1</div><input id="student_1" type="text" onblur="InputOnBlur(this.id)" class="form-control" placeholder="Student's full name #1"><div class="input-group-addon"><i id="searchclear_1" class="clearsearch fas fa-times"></i></div></div>

                                                </div>
                                            </div>

                                            <input asp-for="Case" type="hidden" value="1" />
                                            <input asp-for="Students" type="hidden" class="form-control" id="students" required="" value="" />
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <button class="btn btn-default" onclick="AddInputField()" type="button">Add input field</button>
                                                    <button class="btn btn-default" onclick="DeleteEmptyInputFields()" type="button">Delete empty input fields</button>
                                                </div>
                                            </div>

                                            <br />
                                            <div class="row">
                                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                    <button class="btn btn-success" type="submit">Send</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>

                    @if (Model.DbTable.Count() != 0)
                    {
                        <div class="col-sm-12 col-md-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Edit table and students</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <section class="login_content" style="margin: -40px 0 0 0;">
                                        <form class="form-horizontal form-label-left input_mask" onsubmit="return OnSubmitFunction(2);" asp-action="Manage" asp-controller="Home" asp-anti-forgery="true">
                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                @if (Model != null)
                                                {
                                                    if (Model.Error2 == "ok")
                                                    {
                                                        <div class="alert alert-dark" style="color: #1b1e21; background-color: #d6d8d9; border-color: #c6c8ca; text-align: center;" role="alert">Your data had been added!</div>
                                                    }
                                                    else
                                                    if (Model.Error2 == "error")
                                                    {
                                                        <div class="alert alert-danger" style="color: #721c24; border-color: #f5c6cb; background-color: #f8d7da; text-align: center;">Something went wrong! Maybe server error?</div>
                                                    }
                                                }

                                                <div class="row">
                                                    <span style="font-weight: bold; text-align: center;">Import students from other group</span>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                                            <select asp-for="Subject" id="importSubject2" onchange="ChooseSelection2(this.value)" class="form-control myborderradius">
                                                                @for (int i = 0; i < Subjects.size; i++) if (Model.DbTable.Count(m => m.Subject == i) != 0)
                                                                    {
                                                                        <option value="@i">@Subjects.constArray[i]</option>
                                                                    }
                                                            </select>
                                                        </div>
                                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                                            <select asp-for="Group" id="importGroup2" class="form-control myborderradius">
                                                                @for (int i = 0; i < Subjects.size; i++)
                                                                    foreach (var a in Model.DbTable.Where(m => m.Subject == i))
                                                                    {
                                                                        <option data-option="@i" value="@a.Group">@a.Group</option>
                                                                    }
                                                            </select>
                                                        </div>
                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                            <button class="btn btn-warning" type="button" onclick="ImportButton(2)">Import</button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12"><span id="CountOfStudents2" style="font-weight: bold; text-align: center;">You have entered 1 student:</span></div>
                                                </div>

                                                <div class="row">
                                                    <div id="fullname2" class="col-md-12 col-sm-12 col-xs-12">
                                                        <div id="div_student2_1" class="form-group input-group"><div class="input-group-addon">#1</div><input id="student2_1" type="text" onblur="InputOnBlur(this.id, 2)" class="form-control" placeholder="Student's full name #1" required=""><div class="input-group-addon"><i id="searchclear2_1" class="clearsearch fas fa-times"></i></div></div>

                                                    </div>
                                                </div>

                                                <input asp-for="Case" type="hidden" value="2" />
                                                <input asp-for="Students" type="hidden" class="form-control" id="students2" required="" value="" />
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <button class="btn btn-default" onclick="AddInputField(2)" type="button">Add input field</button>
                                                        <button class="btn btn-default" onclick="DeleteEmptyInputFields(2)" type="button">Delete empty input fields</button>
                                                    </div>
                                                </div>

                                                <br />
                                                <div class="row">
                                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                        <button class="btn btn-success" type="submit">Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div><!-- /page content -->
        </div>
    </div>
    <!-- jQuery -->
    <!--<script src="~/js/jquery.min.js"></script>-->
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- NProgress -->
    <script src="~/js/nprogress.js"></script>
    <!-- Datatables -->
    <script src="~/js/custom.js"></script>
</body>
</html>
