@model GSTUWebSchedule_MVC.Models.LoginModel
@{
    string lang = "ru";
    if (Context.Request.Cookies.ContainsKey("lang")) lang = Context.Request.Cookies["lang"];

    ViewData["Title"] = Translate.Tr("Login", lang);
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="favicon.ico" rel="icon" type="image/ico">
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet">

    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#username").focus(function () {
                document.getElementById('usernamemaycontain').innerHTML = "@Html.Raw(Translate.Tr("Username may contain a-Z, 0-9, and .@-_#", lang))";
            });
            $("#username").blur(function () {
                document.getElementById('usernamemaycontain').innerHTML = "&nbsp;";
            });
        });
    </script>
</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                @if (Model != null)
                {
                    if (!Model.Approved)
                    {
                        <div class="alert alert-dark" style="color: #1b1e21; background-color: #d6d8d9; border-color: #c6c8ca; text-align: center;" role="alert">@Translate.Tr("Your account is not activated yet!", lang)</div>
                    }
                    else
                    if (Model.Username.Length != 0)
                    {
                        <div class="alert alert-danger" style="color: #721c24; border-color: #f5c6cb; background-color: #f8d7da; text-align: center;" role="alert">@Translate.Tr("Login or password is incorrect!", lang)</div>
                    }
                }
                @if (Context.Request.HttpContext.Request.Query["logout"].ToString() == "1")
                {
                    <div class="alert alert-warning" style="color: #856404; background-color: #fff3cd; border-color: #ffeeba; text-align: center;" role="alert">@Translate.Tr("You have successfully loged out!", lang)</div>
                }
                <section class="login_content">
                    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                        <h1>@Translate.Tr("Login", lang)</h1>
                        <div>
                            <div style="font-weight: bold;" id="usernamemaycontain">&nbsp;</div>
                            <input id="username" asp-for="Username" type="text" class="form-control" placeholder="@Translate.Tr("Username", lang)" minlength="4" maxlength="15" pattern="^[a-zA-Z0-9][a-zA-Z0-9._\-@(Html.Raw('@'))#]{3,14}$" required="" />
                        </div>
                        <div>
                            <input asp-for="Password" type="password" class="form-control" placeholder="@Translate.Tr("Password", lang)" minlength="6" maxlength="20" required="" />
                        </div>
                        <div>
                            <button class="btn btn-default submit">@Translate.Tr("Log in", lang)</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                    <hr style="color: black; border: 1px solid lightgrey;" />
                    <button class="btn btn-primary" onClick="window.location.href='/Account/Register';">@Translate.Tr("Register", lang)</button>
                </section>
            </div>
        </div>
    </div>
    <!--      _
          .__(.)< (MEOW)
           \___)
    ~~~~~~~~~~~~~~~~~~-->
</body>
</html>
