@model GSTUWebSchedule_MVC.Models.RegisterModel
@{
    string lang = "ru";
    if (Context.Request.Cookies.ContainsKey("lang")) lang = Context.Request.Cookies["lang"];

    ViewData["Title"] = Translate.Tr("Register", lang);
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/favicon.ico" rel="icon" type="image/ico">
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet">

    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#ConfirmPassword").keyup(validate);
            $("#Password").keyup(validate);
            $("#username").focus(function () {
                document.getElementById('usernamemaycontain').innerHTML = "@Html.Raw(Translate.Tr("Username may contain a-Z, 0-9, and .@-_#", lang))";
            });
            $("#username").blur(function () {
                document.getElementById('usernamemaycontain').innerHTML = "&nbsp;";
            });
        });

        function MyBlur() {
            var password1 = $("#Password").val();
            var password2 = $("#ConfirmPassword").val();

            if (password1.length != 0 && password2.length != 0) {
                if (password1 == password2) {
                    document.getElementById("EqualPasswords").style.display = "none";
                }
                else {
                    document.getElementById("EqualPasswords").style.display = "block";
                }
            }
        }

        function validate() {
            var password1 = $("#Password").val();
            var password2 = $("#ConfirmPassword").val();

            if (password1 == password2) {
                document.querySelector('button.btn.btn-default.submit').disabled = false;
                document.getElementById("ConfirmPassword").style.borderColor = "";
            }
            else {
                document.querySelector('button.btn.btn-default.submit').disabled = true;
                document.getElementById("ConfirmPassword").style.borderColor = "red";
            }
        }
    </script>

</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                @if (Model != null)
                {
                    if (Model.Error == "error")
                    {
                        <div class="alert alert-danger" style="color: #721c24; border-color: #f5c6cb; background-color: #f8d7da; text-align: center;">@Translate.Tr("Something went wrong! Try to pay attention to login, password or email.", lang)</div>
                    } else
                    if (Model.Error == "ok")
                    {
                        <div class="alert alert-dark" style="color: #1b1e21; background-color: #d6d8d9; border-color: #c6c8ca; text-align: center;" role="alert">@Translate.Tr("Your data had been added!", lang)</div>
                    }
                }
                <section class="login_content">
                    @if (Startup.RegistrationOpen)
                    {
                        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                            <h1>@Translate.Tr("Register", lang)</h1>
                            <div>
                                <div style="font-weight: bold;" id="usernamemaycontain">&nbsp;</div>
                                <input id="username" asp-for="Username" type="text" class="form-control" placeholder="@Translate.Tr("Username", lang)" minlength="4" maxlength="15" pattern="^[a-zA-Z0-9][a-zA-Z0-9._\-@(Html.Raw('@'))#]{3,14}$" required="" />
                            </div>
                            <div>
                                <input id="Password" asp-for="Password" type="password" class="form-control" placeholder="@Translate.Tr("Password", lang)" minlength="6" maxlength="20" required="" />
                                <div id="EqualPasswords" style="font-size: 12px; color: red; text-align: center; display: none;">@Translate.Tr("The \"password\" and \"password confirmation\" forms do not match!", lang)</div>
                            </div>
                            <div>
                                <input id="ConfirmPassword" type="password" class="form-control" placeholder="@Translate.Tr("Confirm Password", lang)" minlength="6" maxlength="20" required="" />
                            </div>
                            <div>
                                <input asp-for="Email" type="email" class="form-control" placeholder="Email" minlength="2" maxlength="40" required="" />
                            </div>
                            <div>
                                <input asp-for="Name" type="text" class="form-control" placeholder="@Translate.Tr("Name", lang)" minlength="2" maxlength="15" required="" />
                            </div>
                            <div>
                                <input asp-for="Surname" type="text" class="form-control" placeholder="@Translate.Tr("Surname", lang)" minlength="2" maxlength="15" required="" />
                            </div>
                            <div>
                                <input asp-for="Middlename" type="text" class="form-control" placeholder="@Translate.Tr("Middlename", lang)" minlength="2" maxlength="15" required="" />
                            </div>
                            <div>
                                <button class="btn btn-default submit">@Translate.Tr("Register", lang)</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    } else
                    {
                        <div class="alert alert-danger" style="color: #721c24; border-color: #f5c6cb; background-color: #f8d7da; text-align: center;">@Translate.Tr("Registration is now closed! Please try again later.", lang)</div>
                    }
                    <hr style="color: black; border: 1px solid lightgrey;" />
                    <button class="btn btn-primary" onClick="window.location.href='/Account/Login';">@Translate.Tr("Log in", lang)</button>
                </section>
            </div>
        </div>
    </div>
    <!-- https://youtu.be/dQw4w9WgXcQ -->
</body>
</html>
