@model GSTUWebSchedule_MVC.Models.SettingsModel
@{
    string TempDataRole = TempData[User.Identity.Name + "_Role"].ToString();
    TempData[User.Identity.Name + "_Role"] = TempDataRole;

    string lang = "ru";
    if (Context.Request.Cookies.ContainsKey("lang")) lang = Context.Request.Cookies["lang"];

    ViewData["Title"] = Translate.Tr("Settings", Context.Request.Cookies["lang"]);

    Layout = null;
    //Domine dimitte mihi for this code... But it works, and pretty logic & compactly!
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="~/favicon.ico" rel="icon" type="image/ico">
    <title>@ViewData["Title"]</title>

    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Moment.js -->
    <script language="javascript" src="~/js/moment.js"></script>
    <!-- Date Picker -->
    <script language="javascript" src="~/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css">

    <script>
        $(document).ready(function () {
            $('.datepick').datetimepicker({
                format: "DD.MM.YYYY",
                ignoreReadonly: true
            });
            $("#ConfirmPassword").keyup(validate);
            $("#Password").keyup(validate);
        });
        function validate() {
            var password1 = $("#Password").val();
            var password2 = $("#ConfirmPassword").val();

            if (password1 == password2) {
                document.getElementById('ChangePasswordButton').disabled = false;
                document.getElementById("ConfirmPassword").style.borderColor = "";
            }
            else {
                document.getElementById('ChangePasswordButton').disabled = true;
                document.getElementById("ConfirmPassword").style.borderColor = "red";
            }
        }
    </script>

    <style>
        .svgicon {
            width: 30px;
            height: 30px;
        }

        td, th {
            vertical-align: middle !important;
            text-align: center !important;
        }

        input[name^='Date'] {
            margin: 0 !important;
        }

        .myborderradius {
            border-radius: 3px !important;
        }
    </style>

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font Awesome 2 -->
    <link rel="stylesheet" href="~/css/faall.css">
    <!-- NProgress -->
    <link href="~/css/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet">
    <!-- Date Range Picker -->
    <link href="~/css/daterangepicker.css" rel="stylesheet">
</head>
<body class="nav-sm">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a class="site_title" href="/Home/Index"><i class="fa fa-paw"></i></a>
                    </div>
                    <div class="clearfix"></div><br>
                    <!-- sidebar menu -->
                    <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
                        <div class="menu_section">
                            <h3>@Translate.Tr("General", lang)</h3>
                            <ul class="nav side-menu">

                                <li>
                                    <a href="/Home/Index"><i class="fa fa-table"></i>@Translate.Tr("Logs", lang)</a>
                                </li>
                                <li>
                                    <a href="/Home/Manage"><i class="fa fa-server"></i>@Translate.Tr("Tables control", lang)</a>
                                </li>
                                <li class="current-page">
                                    <a href="/Account/Settings/"><i class="fa fa-cog"></i>@Translate.Tr("Settings", lang)</a>
                                </li>
                                @if (TempDataRole == "Ranged-Creep")
                                {
                                    <li>
                                        <a href="/Account/AdminPanel/"><i class="fas fa-user-shield"></i>@Translate.Tr("Admin Area", lang)</a>
                                    </li>
                                }
                                <li>
                                    <a href="/Account/Logout"><i class="fa fa-step-backward"></i>@Translate.Tr("Log Out", lang)</a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /sidebar menu -->
                </div>
            </div><!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="">
                            <div class="row x_title">
                                <div class="col-md-12 displ_flex flex_center">
                                    <h3>
                                        @Translate.Tr("Settings Page.", lang)
                                        <font color="1e947b">@Translate.Tr("Username: ", lang)</font>
                                        <font color="808080">@User.Identity.Name</font>,
                                        <font color="3399FF">@Translate.Tr("Current time: ", lang)</font>
                                        <font color="808080">@DateTime.Now</font>.
                                    </h3> <hr>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-12 col-md-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>@Translate.Tr("Change Password", lang)</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <section class="login_content" style="margin: -40px 0 0 0;">
                                    <form class="form-horizontal form-label-left input_mask" asp-action="Settings" asp-controller="Account" asp-anti-forgery="true">
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            @if (Model != null)
                                            {
                                                if (Model.Error == "error")
                                                {
                                                    <div class="alert alert-danger" style="color: #721c24; border-color: #f5c6cb; background-color: #f8d7da; text-align: center;">@Translate.Tr("Something went wrong! Maybe your \"Old Password\" is wrong?", lang)</div>
                                                }
                                                else
                                                if (Model.Error == "ok")
                                                {
                                                    <div class="alert alert-dark" style="color: #1b1e21; background-color: #d6d8d9; border-color: #c6c8ca; text-align: center;" role="alert">@Translate.Tr("Your password has been changed!", lang)</div>
                                                }
                                            }
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="@Translate.Tr("Old Password", lang)" minlength="6" maxlength="20" required="" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <input asp-for="NewPassword" type="password" id="Password" class="form-control" placeholder="@Translate.Tr("New Password", lang)" minlength="6" maxlength="20" required="" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <input asp-for="NewPasswordConfirm" type="password" id="ConfirmPassword" class="form-control" placeholder="@Translate.Tr("New Password Confirm", lang)" minlength="6" maxlength="20" required="" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <button id="ChangePasswordButton" class="btn btn-success" type="submit">@Translate.Tr("Change", lang)</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>@Translate.Tr("Your account log", lang)</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <section class="login_content" style="margin: -40px 0 0 0;">
                                        <form class="form-horizontal form-label-left input_mask" asp-action="GetLog" asp-controller="Account" asp-anti-forgery="true">
                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                @if (Model != null)
                                                {
                                                    if (Model.ErrorLogs == "error")
                                                    {
                                                        <div class="alert alert-danger" style="color: #721c24; border-color: #f5c6cb; background-color: #f8d7da; text-align: center;">@Translate.Tr("No logs found on your date!", lang)</div>
                                                    }
                                                }

                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group input-group required datepick">
                                                            <input type="text" class="form-control" name="Date" required="" readonly>
                                                            <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <button class="btn btn-success" type="submit">@Translate.Tr("Download logs", lang)</button>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-3 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>@Translate.Tr("Your language", lang)</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <section class="login_content" style="margin: -40px 0 0 0;">
                                        <form class="form-horizontal form-label-left input_mask" asp-action="ChangeLanguage" asp-controller="Account" asp-anti-forgery="true">
                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                <div class="row">
                                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                        <select name="lang" class="form-control myborderradius">
                                                            <option value="en">English</option>
                                                            <option value="ru">Русский</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <button class="btn btn-success" type="submit">@Translate.Tr("Change Language", lang)</button>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>@Translate.Tr("Last 10 visits on your account", lang)</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table table-striped table-bordered overflow-auto">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>@Translate.Tr("Icon", lang)</th>
                                            <th>@Translate.Tr("Date", lang)</th>
                                            <th>OS</th>
                                            <th>IP</th>
                                            <th>@Translate.Tr("Browser", lang)</th>
                                            <th>@Translate.Tr("Full User-Agent", lang)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int number = 1; }
                                        @foreach (var m in Model.LastVisitsTable)
                                        {
                                            <tr>
                                                <td><b>@(number++)</b></td>
                                                <td>
                                                    @if (m.isMobile)
                                                    {<img src="~/mobileicon.svg" alt="@Translate.Tr("Mobile SVG icon", lang)" class="svgicon" /> }
                                                    else
                                                    { <img src="~/desktopicon.svg" alt="@Translate.Tr("Desktop SVG icon", lang)" class="svgicon" />}
                                                </td>
                                                <td>@m.Date</td>
                                                <td>@m.OS</td>
                                                <td>@m.IP</td>
                                                <td>@m.Browser</td>
                                                <td>@m.FullUserAgent</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- /page content -->
        </div>
    </div>
    <!-- jQuery -->
    <!--<script src="~/js/jquery.min.js"></script>-->
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- NProgress -->
    <script src="~/js/nprogress.js"></script>
    <!-- Datatables -->
    <script src="~/js/custom.js"></script>
</body>
</html>
